language: php

php:
  - '5.5'
  - '5.6'
  - '7.0'

install:
  - composer install

script:
  - ./vendor/bin/phpunit -c ./phpunit.xml
  - ./vendor/bin/phpunit --coverage-clover=coverage.xml

after_success:
  - bash <(curl -s https://codecov.io/bash)