<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
         cacheDirectory=".phpunit.cache">
    <coverage/>
    <testsuites>
        <testsuite name="Base">
            <file>tests/ConfigurationTest.php</file>
            <file>tests/ErrorTest.php</file>
            <file>tests/ResponseTest.php</file>
            <file>tests/HeadersTest.php</file>
            <file>tests/RestTest.php</file>
            <file>tests/QuickCallsTest.php</file>
        </testsuite>
        <testsuite name="Modules">
            <file>tests/EncodersTest.php</file>
            <file>tests/DecodersTest.php</file>
            <file>tests/ModulesTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </source>
</phpunit>
