<phpunit bootstrap="vendor/autoload.php">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="rest">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="headers">
            <file>tests/HeadersTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>